<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Página principal da loja virtual</title>

	<style>
		.card-number {
			font-size: 30px;
			color: #585858;
			font-weight: bold;
		}

		.h-150px {
			height: 150px;
		}

		.h-100 {
			height: 100%;
		}
		
		.h-60 {
			height: 60%;
		}
	</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home / Dashboard</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container h-100">
			<div class="row mb-4">
				<div class="col-sm-3">
					<a class="btn btn-primary btn-md" href="/listagemClientes" role="button" target="_blank">
						<span>Emitir relatório de cliente</span>
					</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-primary btn-md" href="/listagemVendas" role="button" target="_blank"> 
						<span>Emitir relatório de vendas</span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card h-150px">
						<div class="card-body">
							<h5 class="card-title">Clientes</h5>
							<div class="d-flex justify-content-center align-items-center">
								<p class="card-text card-number">
									4
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="card h-150px">
						<div class="card-body">
							<h5 class="card-title">Vendas</h5>
							<div class="d-flex justify-content-center align-items-center">
								<p class="card-text card-number">
									2
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="card h-150px">
						<div class="card-body">
							<h5 class="card-title">Balanço</h5>
							<div class="d-flex justify-content-center align-items-center">
								<p class="card-text card-number">
									R$ 10.760,00
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mt-4 h-100">
				<div class="card h-60">
					<div class="card-body">
						<h5 class="card-title">Detalhes das vendas e vendedores</h5>
						<div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
